{{ define "main" }}
<section class="intro">
  <h1 class="intro-headline">{{ site.Params.headline }}</h1>
  <p>{{ site.Params.tagline }}</p>
</section>

<section class="post-list">
  {{ range where site.RegularPages "Section" "posts" }}
  <article class="post-item">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ with or .Params.subtitle .Description }}<p class="post-item-desc">{{ . }}</p>{{ end }}
  </article>
  {{ end }}
</section>
{{ end }}
